__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.swp
*.swo
*.egg-info/
dist/
build/
.env
*.sqlite3
.venv/

.vscode/
.idea/
*.iml

postgres_data/
*.log
*.pid
*.env.local

*.so

htmlcov/
.coverage
.tox/
pytest_cache/
.pytest_cache/

# macOS
.DS_Store

node_modules/
dist/
