version: "3.9"

services:
  db:
    image: pgvector/pgvector:pg16
    container_name: fast_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    deploy:
      resources:
        limits:
          memory: 512M

  api:
    build: .
    container_name: fast_api
    volumes:
      - .:/code
      - /code/.venv
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - "8000:8000"
    deploy:
      resources:
        limits:
          memory: 512M

volumes:
  postgres_data:
